
<%- include("partials/header") -%>
    <div class="container-fluid">
        <div class="container">
            <h1>Controle</h1>
            <h4>Gerencie equipes e atletas e configurações.</h4>

            <div class="row">
                <div class="col-lg-3">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title">Equipes</h5>
                          <h6 class="card-subtitle mb-2 text-muted">Gerencie equipes</h6>
                          <p class="card-text">Adicione, remova, edite equipes de treinamento.</p>
                          <a href="/adm/equipes" class="card-link">Ir para Equipes</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title">Atletas</h5>
                          <h6 class="card-subtitle mb-2 text-muted">Gerencie os seus Atletas</h6>
                          <p class="card-text">Adicione, remova, edite os seus atletas.</p>
                          <a href="/adm/atletas" class="card-link">Ir para Atletas</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title">Pagamento</h5>
                          <h6 class="card-subtitle mb-2 text-muted">Relatório de Pagamento</h6>
                          <p class="card-text">Crie e gerencie relatórios de pagamento das mensalidades</p>
                          <a href="/adm/pagamento" class="card-link">Ir para Configurações</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include("partials/footer") -%>
    




