<%- include("partials/header") -%>

<div class="club">
    <form action="/club" method="post">
        <div>
            <input type="text" name="clubname" placeholder="Nome do Clube" class="form-input">
        </div>
    </form>
</div>

<%- include("partials/footer") -%>

