<%- include("partials/header") -%>

<div class="club">
    <div class="title">
        <h1>Cadastre o seu clube, o nome da sua empresa ou o nome da sua equipe</h1>
    </div>
    <form action="/club" method="post">
        <div class="form-group">
            <input type="text" name="clubname" placeholder="Nome do Clube" class="form-input">
        </div>
        <input type="submit" id="cadastrarClube" value="Cadastrar">
    </form>
</div>

<%- include("partials/footer") -%>

