<%- include("partials/header") %> 


<div class="container-fluid">
    <div class="container">
        <div class="page-start">
            <h1>Relatórios de Pagamento</h1>
        </div>

        <div class="actions">
            <!--Modal Adicionar Atleta button-->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addPaymentModal" id="addPayment">Adicionar Período de Pagamento</button>
        </div>

        <!--Modal Adicionar Equipe-->
        <div class="modal fade" id="addPaymentModal" name="addPayment" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="modalTitle">Adicionar Período de Pagamento</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="/adm/pagamento" method="post" id="formAtletas" name="formAtletas">
                    <div class="modal-body team-input-modal">
                        <label for="">Período de Pagamento</label>
                        <input type="month" name="periodoPagamento" id="payPeriod">
                        <br>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" value="Salvar" id="btnSalvar">
                    </div>
                </form>
              </div>
            </div>
        </div>
        
        <div class="table-records">
            <table>
                <thead>
                    <tr>
                        <th>Período</th>
                        <th>Status</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    
                        
                </tbody>
            </table>  
        </div>
    </div>
</div>
<script src="/js/atletas.js"></script>
<%- include("partials/footer") -%>