<%- include("partials/header") -%>
<div class="sidenav">
    <div class="login-main-text">
       <h2>Application<br> Login Page</h2>
       <p>Login or register from here to access.</p>
    </div>
 </div>
 <div class="main">
    <div class="col-md-6 col-sm-12">
       <div class="login-form">
          <form action="/register" method="post">
             <div class="form-group">
                <input type="text" name="fullname" class="form-control" placeholder="Nome">
                <input type="email" name="email" class="form-control" placeholder="Email">
             </div>
             <div class="form-group">
                <input type="password" name="password" class="form-control" placeholder="Senha">
             </div>
             <button type="submit" class="btn btn-secondary">Register</button>
          </form>
       </div>
    </div>
</div>


<%- include("partials/footer") -%>