
<%- include("partials/header") %> 

<div class="container-fluid">
    <div class="container">
        <div class="page-start">
            <h1>Configurações</h1>
        </div>

        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <button class="nav-link active" id="nav-valores-tab" data-bs-toggle="tab" data-bs-target="#nav-valores" type="button" role="tab" aria-controls="nav-valores" aria-selected="true">Valores por Unidade</button>
              <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</button>
              <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</button>
            </div>
          </nav>
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-valores" role="tabpanel" aria-labelledby="nav-home-tab">
                <form action="/configuracoes/valores" method="post">
                    <br>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="unidade">1 Unidade</span>
                        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="unidade">
                      </div>
                </form>
            </div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">...</div>
            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
          </div>


    </div>
</div>
<script src="/js/atletas.js"></script>
<%- include("partials/footer") -%>
