
<%- include("partials/header") %> 

<div class="container-fluid">
    <div class="container">
        <div class="page-start">

            <h1>Configurações</h1>
            
        </div>
    </div>
</div>
<script src="/js/atletas.js"></script>
<%- include("partials/footer") -%>
